@model Kursova.ViewModels.Courses.EditVM
@{
    ViewBag.Title = "Edit Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Course</h1>

<div class="row">
    <div class="col-md-4">
        <!--<fieldset>
        <legend>Edit Course LEgend</legend>
        <form action="/Courses/Edit" method="post">
            @Html.HiddenFor(m => m.CourseId)
            <div class="grid">
                <div class="row">
                    <div class="col-1">Title:</div>
                    <div class="col-2">@Html.TextBoxFor(m => m.Title)</div>-->
        @*<div class="col-2"><input type="text" name="Username" /></div>*@
        <!--<div class="col-2">@Html.ValidationMessageFor(m => m.Title)</div>
        </div>
        <div class="row">
            <div class="col-1">Credits:</div>
            <div class="col-2">@Html.TextBoxFor(m => m.Credits)</div>-->
        @*<div class="col-2"><input type="password" name="Password" /></div>*@
        <!--<div class="col-2">@Html.ValidationMessageFor(m => m.Credits)</div>
                    </div>
                    <div class="row">
                        <div class="col-3">@Html.ValidationMessage("AuthenticationFailed")</div>
                    </div>
                    <div class="row">
                        <div class="col-3"><input type="submit" value="Edit" /></div>
                    </div>
                </div>
            </form>
        </fieldset>-->


        <div class="grid">
            <form asp-action="Edit">
                @Html.HiddenFor(m => m.CourseId)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label">First Name</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Credits" class="control-label">Last Name</label>
                    <input asp-for="Credits" class="form-control" />
                    <span asp-validation-for="Credits" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </form>
            <div class="col-md-4">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

